// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

$font_lato: 'Lato', sans-serif;

// Colors
$red: #e50914;
$black: #221f1f;
$blackblack: #000000;
$grey: #f5f5f1;
$white: #ffffff;
