@import 'core/variables';

html{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//RESETS
body {
  margin: 0;
  font-family: $font_lato;
  background-color: black;
  color: $white;
  overflow-x: hidden;
  @media screen and (max-width: $mobile-max){
    font-size: 14px;
    font-weight: 400;
  }
}

input {
  font-weight: 300;
  font-size: 14px;
  appearance: none;
  border: 0;
  outline: none;
  background: transparent;
}

p {
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: $white;
  transition: all 0.3s ease;
  &:hover{
    color: $red;
  }
}

h2{
  font-size: 22px;
  @media screen and (max-width: $mobile-max){
    font-size: 18px;
  }
}


.container{
  max-width: 100%;
  margin: 30px;
}


// SCROLLBAR STYLES
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 6px;
  height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


//--------------------------------------------------//

.search-wrapper{
  @media screen and (max-width: $tablet-max){
    order: 2;
  }
}

#searchbox {
  height: 37px;
  width: 200px;
  color: #ffffff;
  border: 2px solid rgba(245, 245, 241, 0.1);
  border-radius: 37px;
  padding: 0 10px;
  transition: border .25s ease, width .125s ease .125s;
  &:focus{
    border: 2px solid #e50914;
    width: 300px;
    @media screen and (max-width: $mobile-max){
      width: 90%;
    }
  }
}

.page{
  margin-top: 75px;
  @media screen and (max-width: $tablet-max){
    margin-top: 0;
  }
}

header{
  position: fixed;
  height: 75px;
  background-color: $black;
  top: 0;
  z-index: 200;
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  @media screen and (max-width: $tablet-max){
    display: none;
  }
  .menu-main{
    ul{
      margin-left: -235px;
      display: flex;
      flex-flow: row wrap;
      a{
        padding: 20px;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
  // Logo
  #logo {
  	height: 41px;
  	transition: margin .125s ease;
  	svg {
  		transform: scale(.5);
  		transform-origin: 0 0;
  		path {
  			fill: $red;
  			transition: fill .125s ease;
  		}
  	}

  	&:hover {
  		cursor: pointer;
  		margin-top: 2px;
  		svg {
  			path {
  				fill: $white !important;
  			}
  		}
  	}
  }

  // UserProfile
  .user-profile{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: $white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    @media screen and (max-width: $tablet-max){
      order: 1;
      margin-top: -15px;
      font-size: 16px;
      width: 50%;
      justify-content: flex-end;
    }
    &:hover > img {
      box-shadow: inset 0 0 0 10px #f94f4f;
    }
    img{
      width: 40px;
      height: auto;
      border-radius: 100%;
      margin-left: 20px;
      padding: 3px;
      @media screen and (max-width: $mobile-max){
        width: 30px;
      }
    }
  }

}

// TitleList
.list-titles{
  margin: 30px 0px 30px 30px;
  overflow: hidden;
}

.list-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.6s ease;
  @media screen and (max-width: $tablet-max){
    overflow-x: scroll;
  }
  .nav-slide{
    position: absolute;
    z-index: 100;
    color: $white;
    @media screen and (max-width: $tablet-max){
      display: none;
    }
    i{
      font-size: 70px;
      margin-top: 100px;
      &:hover{
        color: $red;
        cursor: pointer;
      }
    }
    &.nav-prev{
      background: linear-gradient(to right,rgba(0,0,0,.95) 0,transparent 100%);
      height: 282px;
      left: 0;
      padding-left: 20px;
    }
    &.nav-next{
      background: linear-gradient(to left,rgba(0,0,0,.95) 0,transparent 100%);
      height: 282px;
      right: 0;
    }
  }
  .title-item{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    .title-name{
      font-weight: 700;
      color: $red;
    }
    .title-votes{
      color: $yellow;
      text-align: right;
      margin-top: 10px;
    }
    .desc{
      margin-top: 20px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-height: 1.6;
    }
    .overlay{
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      height: 238px;
      width: 160px;
      padding: 20px;
      opacity: 0;
      transition: opacity .125s ease;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

.hero-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.6s ease;
  @media screen and (max-width: $tablet-max){
    overflow-x: scroll;
  }
  .nav-slide{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index: 100;
    color: $white;
    @media screen and (max-width: $tablet-max){
      display: none;
    }
    i{
      font-size: 70px;
      &:hover{
        color: $red;
        cursor: pointer;
      }
    }
    &.nav-prev{
      background: linear-gradient(to right,rgba(0,0,0,.95) 0,transparent 100%);
      height: 70%;
      left: 0;
      padding-left: 20px;
    }
    &.nav-next{
      background: linear-gradient(to left,rgba(0,0,0,.95) 0,transparent 100%);
      height: 70%;
      right: 0;
    }
  }
  .hero-item{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    img{
      width: 100vw;
    }
    .hero-info{
      height: calc(100% - 40px);
      margin: 40px 80px 80px 80px;
      display: flex;
      justify-content: space-between;
      flex-flow: column wrap;
      .hero-name{
        font-weight: 700;
        font-size: 50px;
        color: $red;
        margin: 0;
        text-shadow: 3px 3px 0px #2c2e38, 3px 3px 0px #5c5f72;
      }
      .desc{
        margin-left: -80px;
        padding: 30px 80px;
        width: 100%;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.6;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
    .overlay{
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      height: 100%;
      width: 100%;
      transition: opacity .125s ease;
    }
  }
}

.menu-genres{
  ul{
    display: flex;
    flex-flow: row wrap;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: scroll;
    a{
      padding: 10px 30px 10px 0px;
    }
  }
}
