@import 'core/variables';

html{
  /*-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

//RESETS
body {
  margin: 0;
  font-family: $font_lato;
  background-color: black;
  color: $white;
  overflow-x: hidden;
  @media screen and (max-width: $mobile-max){
    font-size: 14px;
    font-weight: 400;
  }
}

input {
  font-weight: 300;
  font-size: 14px;
  appearance: none;
  border: 0;
  outline: none;
  background: transparent;
}

p {
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button{
  &.close{
    width: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
  }
}

a{
  text-decoration: none;
  color: $white;
  transition: all 0.3s ease;
  &.black {
    color: $black;
  }
  &:hover{
    color: $red;
  }
  &.btn{
    display: inline-block;
    background-color: $black;
    color: $white !important;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-height: 25px;
    &:hover{
      background-color: $red;
    }
  }
}

h2{
  font-size: 22px;
  @media screen and (max-width: $mobile-max){
    font-size: 18px;
  }
}


.container{
  max-width: 100%;
  margin: 30px;
}

.container-mid{
  width: 1000px;
  margin: 0 auto;
}

// SCROLLBAR STYLES
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 10px;
  height: 15px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


//--------------------------------------------------//

.search-wrapper{
  @media screen and (max-width: $tablet-max){
    order: 2;
  }
}

#searchbox {
  height: 37px;
  width: 200px;
  color: #ffffff;
  border: 2px solid rgba(245, 245, 241, 0.1);
  border-radius: 37px;
  padding: 0 10px;
  transition: border .25s ease, width .125s ease .125s;
  &:focus{
    border: 2px solid #e50914;
    width: 300px;
    @media screen and (max-width: $mobile-max){
      width: 90%;
    }
  }
}

.page{
  margin-top: 75px;
  @media screen and (max-width: $tablet-max){
    margin-top: 0;
  }
}

header{
  position: fixed;
  height: 75px;
  background-color: $black;
  top: 0;
  z-index: 200;
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  @media screen and (max-width: $tablet-max){
    display: none;
  }
  .menu-main{
    ul{
      margin-left: -235px;
      display: flex;
      flex-flow: row wrap;
      a{
        padding: 20px;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
  // Logo
  #logo {
  	height: 41px;
  	transition: margin .125s ease;
  	svg {
  		transform: scale(.5);
  		transform-origin: 0 0;
  		path {
  			fill: $red;
  			transition: fill .125s ease;
  		}
  	}

  	&:hover {
  		cursor: pointer;
  		margin-top: 2px;
  		svg {
  			path {
  				fill: $white !important;
  			}
  		}
  	}
  }

  // UserProfile
  .user-profile{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: $white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    @media screen and (max-width: $tablet-max){
      order: 1;
      margin-top: -15px;
      font-size: 16px;
      width: 50%;
      justify-content: flex-end;
    }
    &:hover > img {
      box-shadow: inset 0 0 0 10px #f94f4f;
    }
    img{
      width: 40px;
      height: auto;
      border-radius: 100%;
      margin-left: 20px;
      padding: 3px;
      @media screen and (max-width: $mobile-max){
        width: 30px;
      }
    }
  }

}

// TitleList
.list-titles{
  margin: 30px 0px 30px 30px;
  overflow: hidden;
}

.list-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.6s ease;
  @media screen and (max-width: $tablet-max){
    overflow-x: auto;
  }
  .nav-slide{
    position: absolute;
    z-index: 100;
    color: $white;
    @media screen and (max-width: $tablet-max){
      display: none;
    }
    i{
      font-size: 70px;
      margin-top: 100px;
      &:hover{
        color: $red;
        cursor: pointer;
      }
    }
    &.nav-prev{
      background: linear-gradient(to right,rgba(0,0,0,.95) 0,transparent 100%);
      height: 282px;
      left: 0;
      padding-left: 20px;
    }
    &.nav-next{
      background: linear-gradient(to left,rgba(0,0,0,.95) 0,transparent 100%);
      height: 282px;
      right: 0;
    }
  }
  .title-item{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    .title-name{
      font-weight: 700;
      color: $red;
    }
    .title-votes{
      color: $yellow;
      text-align: right;
      margin-top: 10px;
    }
    .desc{
      margin-top: 20px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-height: 1.6;
      color: $white;
    }
    .overlay{
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      height: 238px;
      width: 160px;
      padding: 20px;
      opacity: 0;
      transition: opacity .125s ease;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

.hero-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.6s ease;
  @media screen and (max-width: $tablet-max){
    overflow-x: auto;
  }
  .nav-slide{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index: 100;
    color: $white;
    @media screen and (max-width: $tablet-max){
      display: none;
    }
    i{
      font-size: 70px;
      &:hover{
        color: $red;
        cursor: pointer;
      }
    }
    &.nav-prev{
      background: linear-gradient(to right,rgba(0,0,0,.95) 0,transparent 100%);
      height: 70%;
      left: 0;
      padding-left: 20px;
    }
    &.nav-next{
      background: linear-gradient(to left,rgba(0,0,0,.95) 0,transparent 100%);
      height: 70%;
      right: 0;
    }
  }
  .hero-item{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    img{
      width: 100vw;
    }
    .hero-info{
      height: calc(100% - 40px);
      margin: 40px 80px 80px 80px;
      display: flex;
      justify-content: space-between;
      flex-flow: column wrap;
      .hero-name{
        font-weight: 700;
        font-size: 50px;
        color: $red;
        margin: 0;
        text-shadow: 3px 3px 0px #2c2e38, 3px 3px 0px #5c5f72;
      }
      .desc{
        margin-left: -80px;
        padding: 30px 80px;
        width: 100%;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.6;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
    .overlay{
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      height: 100%;
      width: 100%;
      transition: opacity .125s ease;
    }
  }
}

.menu-genres{
  ul{
    display: flex;
    flex-flow: row wrap;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: auto;
    a{
      padding: 10px 30px 10px 0px;
    }
  }
}

.movie-detail, .cast-page{
  background-color: $white;
  .backdrop{
    height: 500px;
    width: 100%;
    background-size: cover;
  }
  .cover{
    position: absolute;
    z-index: 100;
    width: 185px !important;
    left: 17% !important;
    top: 280px;
    margin-top: 110px;
    img{
      display: block;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }
    ul{
      margin-top: 25px;
      color: $black;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      li{
        padding: 10px;
        color: $white;
        i{
          transition: all 0.3s ease;
          font-size: 20px;
          background-color: $black;
          border-radius: 50%;
          padding: 13px;
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
          &:hover{
            background-color: $red;
            cursor: pointer;
          }
        }
      }
    }
  }
  .sticky-container{
    background-color: red;
    padding-bottom: 0 !important;
  }
  .movie-menu{
    position: relative;
    display: flex;
    position: relative;
    justify-content: center;
    top: -5px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: $white;
    font-size: 16px;
    font-weight: 700;
    padding-left: 250px;
    a{
      color: $black;
      border-bottom: 5px solid $white;
      &:hover{
        cursor: pointer;
        color: $red;
        border-bottom: 5px solid $red;
      }
    }
    ul{
      box-sizing: border-box;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      width: 690px;
      li{
        padding: 20px;
      }
    }
  }
  .movie-info-wrapper{
    position: relative;
    color: $black;
    background-color: $white;
    margin: 0 auto;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .movie-info{
    margin-bottom: 100px;
    section{
      padding-top: 80px;
      margin-bottom: -50px;
      &:first-of-type{
        padding-top: 0;
      }
      .heading-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1, p, span{
          margin: 0;
          padding: 20px 0;
        }
        p{
          font-size: 20px;
          font-weight: 700;
        }
        .heading-votes span{
          font-size: 10px;
          font-weight: 500;
        }
      }
    }
    max-width: 650px;
    h1{
      color: $red;
      font-weight: 900;
      span{
        color: $black;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
      }
    }
    h2{
      margin: 25px 0;
    }
    p{
      margin-top: 35px;
      line-height: 25px;
    }
    .movie-genres{
      a{
        font-size: 10px;
        padding: 7px 15px;
        border-radius: 5px;
        margin-right: 10px;
      }
    }
    .movie-releaseinfo{
      display: flex;
      p{
        margin-top: 20px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 700;
        padding: 0px 10px;
        border-right: 1px solid $red;
        &:first-of-type{
          padding-left: 0;
        }
        &:last-of-type{
          border-right: none;
        }
      }
      a{
        padding: 0px 10px;
        font-size: 12px;
        color: #221f1f;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0;
        margin-top: 20px;
        line-height: 25px;
        border-left: 1px solid $red;
        &:hover{
          color: $red;
        }
      }
    }
    .cast{
      margin: 25px -15px;
      display: flex;
      flex-flow: row wrap;
      color: $black;
    }
    .videos-list{
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      overflow-x: auto;
    }
    .recommendations{
      display: flex;
      overflow-x: auto;
      .recommendation-item{
        display: flex;
        flex-flow: column nowrap;
        max-width: 250px;
        transition: all 0.3 ease-in;
        &:hover {
          background-color: $red;
        }
        &:hover > .recommendation-info > p,
        &:hover > .recommendation-info > span{
          color: $white;
        }
        .recommendation-noimg{
          background-color: $black;
          height: 141px;
          width: 250px;
        }
        .recommendation-info{
          padding: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          p{
            color: $black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            margin-right: 10px;
          }
          span{
            color: $black;
            font-size: 16px;
            margin: 0;
          }
        }
      }
    }
  }
  nav.movie-nav{
    width: calc(185px);
  }
}

.actor-card{
  padding: 5px;
  width: calc(25% - 10px);
  height: 100%;
  background-color: $white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  strong{
    margin-top: 20px;
  }
  p{
    line-height: normal !important;
    margin: 5px !important;
  }
  .actor-portrait{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 2px;
    img{
      display: block;
      width: 100%;
    }
    .no-portrait{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 138px;
      height: 175px;
      background-color: $grey;
      i{
        font-size: 60px;
        color: $grey2;
      }
    }
  }
}

//MOVIES PAGE
#movies-catalog{
  margin: 130px 0 0 0;
}
.movies-collection{
  display: flex;
  flex-flow: row wrap;
  margin: 3px;
  .movies-collection-item{
    padding: 3px;
    width: calc((100% - 20px) / 3);
    overflow: hidden;
    &:hover > div > div > img{
      transform: scale(1.3);
    }
    &:hover > div > .collection-item-info{
      background-color: $red;
      background-image: none;
      background-blend-mode: none;
      color: $white;
    }
    .collect-img-wrapper{
      overflow: hidden;
    }
    img{
      transition: all 0.6s ease;
      width: 100%;
      display: block;
    }
    .movie-collection-item-noimg{
      background-color: $black;
      height: 281px;
      width: 500px;
    }
    .collection-item-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s ease;
      padding: 20px;
      background-color: #DCD9D4;
      background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
      background-blend-mode: screen;
      color: $black;
      font-weight: 700;
      p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 20px;
      }
    }
  }
  .collection-pagination{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3px;
    width: calc((100% - 20px) / 3);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    .prev-page, .next-page{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      text-align: center;
      border: 3px solid $black;
      &:hover{
        background-color: $black;
      }
      i{
        font-size: 100px;
      }
    }
  }
}

.menu-filters{
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  width: 100%;
  top: 75px;
  ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: $black;
    li{
      padding: 15px;
    }
  }
}

// CastPage
.cast-page{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 80px;
  .container-mid{
    display: flex;
    flex-direction: row;
  }
  h2, h3{
    color: $black;
  }
  h1{
    padding: 10px 0;
    margin: 0;
    color: $red;
    width: 100%;
    text-shadow: 3px 3px 0px #2c2e38, 3px 3px 0px #5c5f72;
  }
  section#cast, section#crew{
    width: 50%;
  }
}
.cast-header{
  width: 100%;
  height: 180px;
  background-size: cover;
  .container-mid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    a{
      padding: 10px 0;
      text-align: center;
      width: 202px;
    }
  }
}

.castfull-item{
  color: $black;
  margin: 25px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  .castfull-item-info{
    display: flex;
    flex-flow: column wrap;
  }
  img{
    display: block;
    width: 80px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  p, strong{
    padding-left: 25px;
  }
  .no-portrait{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: $grey;
    i{
      font-size: 60px;
      color: $grey2;
    }
  }
}

//PERSON PAGE
.person-page{
  background-color: $white;
  color: $black;
  h1{
    color: $red;
  }
  //min-height: 1100px;
  .backdrop{
    height: 500px;
    background-size: cover;
  }
  .cover{
    position: absolute;
    z-index: 100;
    width: 185px !important;
    left: 17% !important;
    top: 280px;
    margin-top: 110px;
    img{
      display: block;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }
    ul{
      margin-top: 25px;
      color: $black;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      li{
        padding: 10px;
        color: $white;
        i{
          width: 19px;
          height: 19px;
          text-align: center;
          transition: all 0.3s ease;
          font-size: 20px;
          background-color: $black;
          border-radius: 50%;
          padding: 13px;
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
          &:hover{
            background-color: $red;
            cursor: pointer;
          }
        }
      }
    }
  }
  .sticky-container{
    background-color: red;
    padding-bottom: 0 !important;
  }
  .person-info{
    max-width: 600px;
    margin-right: 365px;
    .bio{
      margin-bottom: -55px;
    }
  }
  .person-menu{
    position: relative;
    display: flex;
    position: relative;
    justify-content: center;
    top: -5px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: $white;
    font-size: 16px;
    font-weight: 700;
    padding-left: 250px;
    a{
      color: $black;
      border-bottom: 5px solid $white;
      &:hover{
        cursor: pointer;
        color: $red;
        border-bottom: 5px solid $red;
      }
    }
    ul{
      box-sizing: border-box;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      width: 690px;
      li{
        padding: 20px;
      }
    }
  }
  .movie-info-wrapper{
    position: relative;
    color: $black;
    background-color: $white;
    margin: 0 auto;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
}

#knownfor{
  padding-top: 80px;
  margin-bottom: -55px;
  .knownfor{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-left: -5px;
    .movie-card{
      width: 25%;
      img{
        width: 138px;
        height: auto;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      }
      p{
        font-size: 14px;
        padding: 8px;
      }
      .movie-poster{
        .no-portrait{
          height: 207px;
          background-color: $grey;
          display: flex;
          align-items: center;
          justify-content: center;
          i{
            font-size: 40px;
          }
        }
      }
    }
  }
}

#credits{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 80px;
  color: $grey3;
  font-weight: 300;
  .credits-wrapper{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  h2, h3{
    color: $black;
  }
  h2{
    margin-top: 0;
  }
  strong{
    color: $black;
    &:first-of-type{
      padding-right: 10px;
      &:after{
        content: '-';
        padding-left: 10px;
        font-weight: 300;
      }
    }
  }
  a{
    color: $black;
    font-weight: 700;
    padding-right: 10px;
    &:hover{
      color: $red;
    }
  }
  span{
    color: $black;
    font-weight: 400;
    padding-left: 5px;
  }
  .credit-item{
    padding: 10px 0;
  }
  .character{
    display: inline-block;
  }
}

//LOADERS
.spinner-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.list-titles{
  .spinner-wrapper{
    position: inherit;
    width: 100%;
    height: 300px;
  }
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

//ANIMATIONS
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.fadein-enter {
  opacity: 0.01;
}

.fadein-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadein-leave {
  opacity: 1;
}

.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
